<section data-ng-init="find()">
	<div class="page-header">
		<h1>Bus Stops</h1>	
		<a class="btn btn-primary" href="#!/busstops/near" role="button">Show Stops Near Me</a>    	
		<a class="btn" href="#!/addbusstop" role="button">Add New Stop</a>    	
	</div>
	<div class="list-group">
		<a data-ng-repeat="stop in busstops" class="list-group-item" href="#!/busstops/{{ stop._id }}">
		  <h4>{{ stop.name }}</h4>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="!busstops.length">
		No bus stops found
	</div>
</section>
